{{define "form_add"}}
<form hx-post="/users/add" 
      hx-target="#user-table-body" 
      hx-swap="innerHTML"
      hx-on:reset-form="this.reset()">
    
    <div style="margin-bottom: 10px;">
        <input type="text" name="name" 
               placeholder="Name" 
               class="form-control"
               value="{{ .Values.Name }}"> {{ if .Errors.Name }}
            <div style="color: red; font-size: 0.9em;">{{ .Errors.Name }}</div>
        {{ end }}
    </div>

    <div style="margin-bottom: 10px;">
        <input type="email" name="email" 
               placeholder="Email" 
               class="form-control"
               value="{{ .Values.Email }}"> {{ if .Errors.Email }}
            <div style="color: red; font-size: 0.9em;">{{ .Errors.Email }}</div>
        {{ end }}
    </div>

    <button type="submit">Save</button>
</form>
{{end}}