{{define "index"}}
    {{template "layout" .}}
{{end}}

{{define "content"}}
    <div id="form-container" style="background: #f0f0f0; padding: 15px; border-radius: 5px;">
        <h3>Add New User</h3>
        {{template "form_add" .}}
    </div>

    <h3>User List</h3>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody id="user-table-body">
            {{template "user_list" .}}
        </tbody>
    </table>
{{end}}