{{define "user_edit_row"}}
<tr id="row-{{.ID}}">
    <td>{{.ID}}</td>
    <td>
        <input type="text" name="name" value="{{.Name}}" class="form-control" required>
    </td>
    <td>
        <input type="email" name="email" value="{{.Email}}" class="form-control" required>
    </td>
    <td>
        <button class="btn-success"
                hx-put="/users/update/{{.ID}}"
                hx-include="closest tr"
                hx-target="#row-{{.ID}}"
                hx-swap="outerHTML">
            Save
        </button>
        
        <button class="btn-secondary"
                hx-get="/users/row/{{.ID}}"
                hx-target="#row-{{.ID}}"
                hx-swap="outerHTML">
            Cancel
        </button>
    </td>
</tr>
{{end}}