{{define "user_list"}}
    {{range .Users}}
    <tr id="row-{{.ID}}">
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>
            <button class="btn-primary"
                    hx-get="/users/edit/{{.ID}}"
                    hx-target="#row-{{.ID}}"
                    hx-swap="outerHTML">
                Edit
            </button>
            <button class="btn-danger"
                    hx-delete="/users/delete/{{.ID}}"
                    hx-confirm="Yakin mau hapus?"
                    hx-target="#row-{{.ID}}"
                    hx-swap="outerHTML">
                Hapus
            </button>
        </td>
    </tr>
    {{end}}
{{end}}

{{define "user_row_only"}}
    <tr id="row-{{.ID}}">
        <td>{{.ID}}</td>
        <td>{{.Name}}</td>
        <td>{{.Email}}</td>
        <td>
            <button class="btn-primary" hx-get="/users/edit/{{.ID}}" hx-target="#row-{{.ID}}" hx-swap="outerHTML">Edit</button>
            <button class="btn-danger" hx-delete="/users/delete/{{.ID}}" hx-confirm="Yakin?" hx-target="#row-{{.ID}}" hx-swap="outerHTML">Hapus</button>
        </td>
    </tr>
{{end}}